<% @gardens.each do |garden| %>
  <div class="card-garden">
    <% if garden.photo.attached? %>
      <%= link_to garden_path(garden) do %>
        <%= cl_image_tag garden.photo.key, alt: "alttext" %>
      <% end %>
    <% else %>
      <%= image_tag "logo_img", class: 'image-card-placeholder' %>
    <% end %>

    <div class="card-garden-infos">
      <div>
        <h2><%= link_to garden.title, garden_path(garden) %></h2>
        <h3><%= garden.address %></h3>
        <p><%= garden.description %></p>
      </div>
      <h2 class="card-garden-pricing">£<%= garden.price_per_hour %></h2>
      <%= image_tag "mary.jpg", alt: "alttext", class: "card-garden-user avatar-bordered" %>
    </div>
  </div>
<% end %>
