<% @gardens.each do |garden| %>
  <div class="card-garden">
    <%= link_to garden_path(garden) do %>
      <% if garden.photo.attached? %>
          <%= cl_image_tag garden.photo.key, alt: "alttext" %>
      <% else %>
          <%= image_tag "logo_img", class: "image-card-placeholder"%>
      <% end %>
    <% end %>

    <div class="card-garden-infos">
      <div>
        <h2><%= link_to garden.title, garden_path(garden) %></h2>
        <h3><%= garden.address %></h3>
        <p><%= garden.description %></p>
      </div>

      <div class="card-garden-pricing">
        <h4>£<%= garden.price_per_hour %></h4>
      </div>
      
      <% if garden.owner.avatar.attached? %>
        <%= cl_image_tag garden.owner.avatar.key, transformation: {width: 40, height: 40, gravity: "face", radius: "max", crop: "thumb" }, class: "card-garden-user avatar-bordered", alt: "alttext" %>
      <% else %>
        <%= image_tag "mary.jpg", alt: "alttext", class: "card-garden-user avatar-bordered" %>
      <% end %>

    </div>

  </div>
<% end %>
