<div class="container mt-3">
  <h1>My Bookings</h1>
  <h3>You have <%= @upcoming.count %> upcoming booking<%=@upcoming.count == 1 ? '' : 's'%><%= @upcoming.count > 0 ? ':' : '' %></h3>

  <div class="my-5">
    <div class="row justify-content-center">
      <div class="col-8">
        <% @upcoming.each do |booking| %>
          <%= render 'components/bookingcard', booking: booking %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @past.count > 0 %>
    <h3>Past bookings</h3>
    <div class="my-5">
      <div class="row justify-content-center">
        <div class="col-8">
          <% @past.each do |booking| %>
            <%= render 'components/bookingcard', booking: booking %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
