<div class="container">
  <h1>BOOKED!</h1>

  <h3>Enjoy your stay in</h3>

  <p> <%= @booking.garden.title %></p>

  <p><%= @booking.start_date_time.strftime("%A %d %B %H:%M") %> until <%= @booking.end_date_time.strftime("%A %d %B %H:%M") %></p>

  <p> <%= @booking.garden.address %></p>

  <%= link_to 'continue exploring', gardens_path %>
</div>
