<div class="container mt-3">
  <h1>My Listed Gardens</h1>

  <h3>You have <%= @gardens.count %> garden<%=@gardens.count == 1 ? '' : 's'%><%= @gardens.count > 0 ? ' listed:' : '' %> </h3>

  <div class="main-container">
    <div class="cards">
      <%= render 'components/card' %>
    </div>
  </div>

  <h3 id="my-listing-bookings"><%= @bookings.count %> user<%= @bookings.count == 1 ? ' has' : 's have'%> booked one of your listings:</h3>

  <div class="my-5">
    <div class="row justify-content-center">
      <div class="col-8">
        <% @bookings.each do |booking| %>
          <%= render 'components/bookingcard', booking: booking %>
        <% end %>
      </div>
    </div>
  </div>


</div>
