<% if @garden.photo.attached? %>
  <div class="photo-fullscreen-bg-outer" style="background-image: url('<%= cl_image_path @garden.photo.key %>')">
<% else %>
  <div class="photo-fullscreen-bg-outer">
<% end %>
    <div class="photo-fullscreen-bg-inner">
      <h1 class="photo-txt-left-column"><%= @garden.title %></h1>
      <p class="photo-txt-left-column pb-4"><%= @garden.description %></p>

      <div class="photo-txt-frame p-4">
        <div id="map" class="photo-map"
          style="width: 350px; height: 200px; margin: 0px 0px 20px 0px;"
          data-markers="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <div class="photo-txt-frame-flexbox pb-2">
          <div><%= @garden.address %></div>
          <div><strong>£<%= @garden.price_per_hour %>/hour</strong></div>
        </div>

        <% if (user_signed_in? && @garden.user_id != current_user.id) || !user_signed_in? %>
          <%= link_to "Book", new_garden_booking_path(@garden), class: "btn btn-flat btn-full-width" %>
        <% end %>

        <div class="photo-txt-frame-links pt-2">
          <%= link_to "Back", gardens_path %>

          <% if user_signed_in? && @garden.user_id == current_user.id %> |
            <%= link_to "Edit", edit_garden_path(@garden) %> |
            <%= link_to "Delete listing",
                        garden_path(@garden),
                        method: :delete,
                        data: { confirm: "Are you sure you want to delete this garden listing?" } %>

          <% end %>
        </div>

      </div>
    </div>
  </div>
  <% if @garden.reviews.size > 0 %>
    <div class="container">
      <div class="row justify-content-center">
          <div class="reviews-container">
            <h3>Reviews</h3>
            <div class="reviews-container-inner">
              <% @garden.reviews.each do |review| %>
                <p><%= review.content %> <%= '⭐️' * review.rating %></p>
                <p class="review-email"><%= review.booking.guest.email %></p>
                <hr>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  <% end %>



